.nav_container {
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:  2rem;
    background-color: rgb(51 156 50);
    font-size: 1.8rem;
}
.nav_opciones {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav_opciones a {
    text-decoration: none;
    color:white;
}